

/* MAIN IMAGE */

.small-figure  {
    height: 8rem;
    background-image: url('../images/billings.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    margin: 0;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bolder;
}

/* NAV */

.contact-main {
    height: 114vh;
    height: auto;
    flex-direction: column;
    color: var(--dark-color);
    padding: 1rem 3rem 3rem 3rem;
    text-align: center;
}

.contact-text-div {
    display: relative;
    padding-bottom: 1.3rem;
    border-bottom: 2px solid var(--darkish-color);
}

.contact-title {
    margin-bottom: 1.3rem;
    margin-top: .8rem;
    font-size: 1.8rem;
    line-height: 2rem;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-image-div {
    height: 8rem;
    width: 8rem;
    width: 20%;
    margin: 0;
    margin-right: 20px;
}

.contact-main img {
    color: var(--darkish-color);
    height: 7.5rem;
    width: 7.5rem;
    margin: 0;
}

.contact-main ul {
    justify-content: space-around;
    width: 100%;
}

.contact-main ul li {
    width: 100%;
    align-items: flex-start;
    padding-top: 20px;
}

.contact-main .main-text {
    width: 100%;
    padding: 10px;
    text-align: start;
    justify-content: flex-start;
}

.contact-main .contact-btn {
    margin-top: 20px;
    align-self: center;
}

#keys {
    margin: 0;
    margin-left: 1.5rem;
    right: 1.7rem;
    height: 9.5rem;
    width: 9.5rem;
}

#signpost {
    margin-top: 1rem;
}

@media (max-width: 730px) {
    .contact-main img {
        height: 6.5rem;
        width: 6.5rem;
        display: none;
    }
    .contact-image-div {
        display: none;
    }
}

/* BIOGRAPHIES */

.bio-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--lightish-color);
    margin-bottom: 1.5rem;
    box-shadow: 0px -2px 7px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

.bio-text {
    width: 19rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--dark-color);
}

.bio-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 60vh;
    padding: 1rem;
    margin-top: 1.5rem;
}

.bio-image-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 30vw;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-align: center;
    transition: background-size 0.4s ease-in;
}

.leapold {
    background-image: url('../images/leapold.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.samuii {
    background-image: url('../images/samuii.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.bio-name {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--dark-color);
}

.bio-title {
    color: var(--darkish-color);
    font-size: 1rem;
}

.bio-image-div:hover {
    cursor: pointer;
    background-size: 110%;
}

.bio-image-div:hover .overlay {
    visibility: visible;
}

.bio-image-div:hover .overlay-text {
    visibility: visible;
}

.bio-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    height: 60vh;
    width: 90vh;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visiblity 0s linear 1000ms, opacity 1000ms;
}

.overlay-visible {
    visibility: visible;
}

.visible {
    opacity: 1;
    visibility: visible;
}
