.small-header {
    height: 14vh;
    padding: 0;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

.small-figure  {
    position: relative;
    height: 20vh;
    background-image: url('../images/billings.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0;
}

.contact-main {
    display: inline;
    flex-direction: column;
    /* background-color: violet; */
    color: var(--dark-color);
    padding: 40px;
    text-align: center;
}

.contact-text-div {
    display: relative;
    /* background-color: chartreuse; */
    padding-bottom: 20px;
    border-bottom: 2px solid var(--darkish-color);
}

.contact-title {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 30px;
    /* background-color: violet; */
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-image-div {
    /* background-color: violet; */
    height: 23vh;
    width: 26vh;
    margin: 0;
    margin-right: 20px;
}

.contact-main img {
    color: var(--darkish-color);
    height: 26vh;
    width: 26vh;
}

.contact-main ul {
    justify-content: space-around;
    width: 100%;
    /* background-color: yellow; */
}

.contact-main ul li {
    /* background-color: turquoise; */
    width: 100%;
    align-items: flex-start;
    padding-top: 20px;
}

.contact-main .main-text {
    /* background-color: green; */
    width: 90%;
    padding: 10px;
    text-align: start;
    justify-content: flex-start;
    height: 100%;
}

.contact-main .contact-btn {
    align-self: center;
}
