@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #599cdf;
    --secondary-color: #2983dd;
    --dark-color: #515151;
    --lighter-color: #f0eeee;
    --light-color: rgb(248, 245, 245);
}

body {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    caret-color: transparent;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h2, h3, p, ul, nav, img {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}

/* HEADER */

header {
    position: relative;
    background-color: var(--light-color);
    height: 25vh;
    padding-top: 45px;
    color: var(--dark-color);
}

.logo-div {
    justify-content: flex-start;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 12vh;
    width: 18vh;
    font-size: 18px;
    /* color: var(--dark-color); */
    /* background-color: violet; */
}

.logo-text-div {
    position: absolute;
    top: 15px;
    right: 15px;
    /* background-color: wheat; */
}

.logo-text-top {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 50%;
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    height: 9vh;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 13px;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* OPTION DIV */

.option-div {
    background-color: var(--dark-color);
    height: 10vh;
    color: var(--light-color);
    align-items: flex-start;
    padding-top: 10px;
}

.option-div > * {
    margin-right: 2px;
}

.option-div > *:hover,
.option-div *:first-child {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
}

.option-div > a,
.option-div > select {
    margin-right: 85px;
}

.dropdown {
    width: 18px;
    background-color: var(--dark-color);
    color: var(--light-color);
    outline: none;
    border: none;
}

/* MAIN IMAGE */

figure  {
    position: relative;
    height: 50vh;
    background-image: url('../images/billings.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    margin: 0;
    margin-bottom: 15px;
}

figure::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.2;
  }

figure .btn {
    position: absolute;
    bottom: 50px;
    width: 50vh;
    height: 10vh;
    z-index: 100;
}

figcaption {
    position: absolute;
    top: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
    z-index: 100;
}

/* MAIN NAV */

.main {
    display: flex;
    justify-content: center;
    height: 62vh;
}

.main ul {
    width: 75%;
}

.main ul li {
    justify-content: flex-end;
    align-items: center;
    width: 60vh;
    padding: 0;
}

.image-div {
    margin-left: 20px;
    overflow: hidden;
    height: 13vh;
    width: 15vh;
    margin-bottom: 37px;
}

.main img {
    color: var(--dark-color);
    height: 16vh;
    width: 16vh;
    opacity: 0.4;
}

#keys {
    position: relative;
    right: 10px;
    height: 130%;
    width: 130%;
}
.main-text {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 15px;
    width: 40vh;
    height: 30vh;
}

.main-text h2 {
    justify-self: start;
    padding-bottom: 10px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-color);
    text-align: center;
}

.main-text a {
    color: var(--primary-color);
    font-size: 18px;
    padding-top: 10px;
}

.main-text a:hover {
    color: var(--secondary-color);
}

/* IMAGE GALLERY */

.image-gallery {
    height: auto;
    position: relative;
}

.image-gallery ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25vw;
    width: 25vw;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px;
    transition: background-size 0.4s ease-in;
}

.overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.4;
    visibility: hidden;
}

.gallery-item:hover .overlay {
    visibility: visible;
}

.gallery-item:hover .gallery-text {
    visibility: visible;
}

.gallery-item:nth-child(1) {
    background: url('../images/gallery/3-pexels-mike-144632.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(2) {
    background: url('../images/gallery/2-pexels-mart-production-7415035.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(3) {
    background: url('../images/gallery/2-pexels-vincent-rivaud-2265881.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(4) {
    background: url('../images/gallery/2-pexels-arthouse-studio-4413755\ \(1\).jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(5) {
    background: url('../images/gallery/2-pexels-spencer-gurley-1448055\ copy.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(6) {
    background: url('../images/gallery/2-pexels-pixabay-221506.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(7) {
    background: url('../images/gallery/2-pexels-cottonbro-4056535.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(8) {
    background: url('../images/gallery/2-pexels-luis-quintero-2564873.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-text {
    visibility: hidden;
    z-index: 100;
}

.gallery-item:hover {
    cursor: pointer;
    background-size: 110%;
}

/* TESTIMONIALS */

.testimonials {
    height: 62vh;
    /* background-color: maroon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials h1 {
    color: var(--dark-color);
    font-size: 30px;
    margin-bottom: 30px;
}

/* .testimonials-div {
    width: auto;
} */

.testimonial-card {
    /* background-color: forestgreen; */
    height: 180px;
    width: 230px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1000ms, opacity 1000ms;
}

.user-profile {
    display: flex;
    align-items: center;
    font-size: 10px;
    background-color: var(--dark-color);
    height: 30%;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

.user-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 8px;
}

.user-date {
    margin-top: 3px;
}

.rating {
    display: flex;
    align-items: center;
    color: goldenrod;
    height: 15%;
    /* background-color: violet; */
    font-weight: bolder;
    margin-top: 5px;
}

.rating-num {
    margin: 0 10px 0 18px;
}

i {
    font-size: 16px;
}

.quote {
    padding: 15px;
    padding-top: 10px;
    font-size: 13px;
    height: 50%;
    color: var(--dark-color);
    overflow: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  /* CONTACT FORM */

  .contact-form {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 110vh;
      /* background-color: violet; */
      color: var(--dark-color);
      background: url('../images/pexels-karolina-grabowska-4210787.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: 20px;

  }
/* .writing-image {
    width: auto;
    height: auto;
    position: fixed;
    top: 200px;
    z-index: -1;
} */

form {
    /* position: absolute; */
    width: 90%;
    /* background-color: yellowgreen; */
    margin-top: 30px;
  }

.form-top {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}

.form-div {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    font-size: 10px;
    width: 30%;
}

form input, form textarea {
    color: var(--dark-color);
    font-size: 16px;
    border: none;
    height: 35px;
    background-color: var(--dark-color);
    opacity: 0.3;
}

form input:focus, form textarea:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

form textarea {
    height: 70px;
}

.textarea-div {
    width: 100%;
}

.form-title {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 35px;
}

.form-text {
    margin-bottom: 5px;
    margin-top: 15px;
}

.form-btn {
    position: absolute;
    bottom: 90px;
    right: 30px;
    opacity: 1;
    justify-self: flex-end;
    width: 250px;
    height: 40px;
    font-size: 18px;
}


/* Footer */

.footer {
    background-color: var(--dark-color);
    height: 23vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.footer > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90px;
}

.social-div {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
}

.footer h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer a,
.footer p {
    width: fit-content;
    font-size: 13px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.footer .btn {
    width: 200px;
    height: 40px;
    font-size: 17px;
}

.footer i {
    font-size: 30px;
    cursor: pointer;
}

.footer a:hover,
.footer i:hover {
    color: var(--primary-color);
}

/* Copyright */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 10px;
    color: var(--dark-color);
}
