
/* OPTION DIV */

.option-div {
    background-color: var(--dark-color);
    height: 10vh;
    color: var(--light-color);
    align-items: flex-start;
    padding-top: 10px;
}

.option-div > * {
    margin-right: 2px;
}

.option-div > *:hover,
.option-div *:first-child {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
}

.option-div > a,
.option-div > select {
    margin-right: 85px;
}

.dropdown {
    width: 18px;
    background-color: var(--dark-color);
    color: var(--light-color);
    outline: none;
    border: none;
}

/* MAIN IMAGE */

figure  {
    position: relative;
    height: 50vh;
    background-image: url('../images/billings.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    margin: 0;
    margin-bottom: 15px;
}

figure::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.2;
  }

figure .btn {
    position: absolute;
    bottom: 50px;
    width: 50vh;
    height: 10vh;
    z-index: 100;
}

figcaption {
    position: absolute;
    top: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
    z-index: 100;
}

/* IMAGE GALLERY */

.image-gallery {
    height: auto;
    position: relative;
}

.image-gallery ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25vw;
    width: 25vw;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px;
    transition: background-size 0.4s ease-in;
}

.overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.4;
    visibility: hidden;
}

.gallery-item:hover .overlay {
    visibility: visible;
}

.gallery-item:hover .gallery-text {
    visibility: visible;
}

.gallery-item:nth-child(1) {
    background: url('../images/gallery/3-pexels-mike-144632.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(2) {
    background: url('../images/gallery/2-pexels-mart-production-7415035.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(3) {
    background: url('../images/gallery/2-pexels-vincent-rivaud-2265881.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(4) {
    background: url('../images/gallery/2-pexels-arthouse-studio-4413755\ \(1\).jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(5) {
    background: url('../images/gallery/2-pexels-spencer-gurley-1448055\ copy.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(6) {
    background: url('../images/gallery/2-pexels-pixabay-221506.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(7) {
    background: url('../images/gallery/2-pexels-cottonbro-4056535.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:nth-child(8) {
    background: url('../images/gallery/2-pexels-luis-quintero-2564873.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-text {
    visibility: hidden;
    z-index: 100;
}

.gallery-item:hover {
    cursor: pointer;
    background-size: 110%;
}

/* TESTIMONIALS */

.testimonials {
    height: 62vh;
    /* background-color: maroon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials h1 {
    color: var(--dark-color);
    font-size: 30px;
    margin-bottom: 30px;
}

/* .testimonials-div {
    width: auto;
} */

.testimonial-card {
    /* background-color: forestgreen; */
    height: 180px;
    width: 230px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1000ms, opacity 1000ms;
}

.user-profile {
    display: flex;
    align-items: center;
    font-size: 10px;
    background-color: var(--dark-color);
    height: 30%;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

.user-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 8px;
}

.user-date {
    margin-top: 3px;
}

.rating {
    display: flex;
    align-items: center;
    color: goldenrod;
    height: 15%;
    /* background-color: violet; */
    font-weight: bolder;
    margin-top: 5px;
}

.rating-num {
    margin: 0 10px 0 18px;
}

i {
    font-size: 16px;
}

.quote {
    padding: 15px;
    padding-top: 10px;
    font-size: 13px;
    height: 50%;
    color: var(--dark-color);
    overflow: scroll;
}

  /* CONTACT FORM */

  .contact-form {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 110vh;
      /* background-color: violet; */
      color: var(--dark-color);
      background: url('../images/2-pexels-karolina-grabowska-4210787.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: 20px;

  }

form {
    width: 90%;
    margin-top: 30px;
  }

.form-top {
    display: flex;
    justify-content: space-between;
}

.form-div {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    font-size: 10px;
    width: 30%;
}

form input, form textarea {
    color: var(--dark-color);
    font-size: 16px;
    border: none;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.2);
    caret-color: var(--dark-color);
}

form input:focus, form textarea:focus {
    outline: none;
    /* border: 3px solid var(--primary-color); */
}

form textarea {
    height: 70px;
}

.textarea-div {
    width: 100%;
}

.form-title {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 35px;
}

.form-text {
    margin-bottom: 5px;
    margin-top: 15px;
}

.form-btn {
    position: absolute;
    bottom: 90px;
    right: 30px;
    opacity: 1;
    justify-self: flex-end;
    width: 250px;
    height: 40px;
    font-size: 18px;
}

.g-recaptcha {
    margin-top: 60px;
}


/* Footer */

.footer {
    background-color: var(--dark-color);
    height: 23vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.footer > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90px;
}

.social-div {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
}

.footer h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer a,
.footer p {
    width: fit-content;
    font-size: 13px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.footer i {
    font-size: 30px;
    cursor: pointer;
}

.footer a:hover,
.footer i:hover {
    color: var(--primary-color);
}

/* Copyright */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 10px;
    color: var(--dark-color);
}

.alert {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    background-color: var(--lighter-color);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.okButton {
    height: 30px;
    width: 50px;
}
