/* FILTER HEADER */

.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
}

.filter-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    flex-wrap: wrap;
}

.select-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--dark-color);
    margin-top: .5rem;
}

.filter-select {
    width: 14rem;
    height: 2.4rem;
    margin-top: .5rem;
    border: none;
    background-color: var(--lightish-color);
    color: var(--dark-color);
    font-size: 1rem;
    padding: .5rem;

}

.filter-select:focus {
    outline: none;
}

.filter-button {
    width: 80%;
    height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* MAIN */

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
    height: 15rem;
}

.first-property-text {
    width: 43%;
    padding-left: 1.5rem;
    line-height: 2;
}

.second-property-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -.7rem;
    line-height: 2;
    text-align: center;
    width: 23%;
}

.property-image-div {
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.property-image {
    background-size: initial;
}

.property-text-big {
    font-weight: lighter;
}

.more-info {
    margin-top: 1rem;
    height: 2.5rem;
}

/* NEXT BUTTON */

.next-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);
    height:2rem;
    width: 11rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.next-button {
    border: none;
    background-color: transparent;
    color: var(--dark-color);
    font-size: 1rem;
    height: 100%;
    width: 25%;
    font-size: 1rem;
    padding-top: .1rem;
}

.current-page {
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: normal;
}

.next-button:hover {
    cursor: pointer;
    font-weight: bold;
}

.disabled {
    color: var(--lightish-color);
}


@media (max-width: 800px) {
    .property-container {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .property-image-div {
        margin-bottom: 1rem;
    }

    .first-property-text {
        margin-bottom: 1rem;
    }
}

/* PROPERTY DETAIL */

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
}

.detail-address {
    font-size: 3vw;
    color: var(--darker-color);
    margin-bottom: 1rem;
}

.detail-city {
    margin-bottom: 1.5rem;
}

/* CAROUSEL */

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 480px;
    height: 300px;
}

.main-image-container {
    display: flex;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
}

.main-image {
    height: 300px;
    width: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-overlay{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.3;
}

.carousel-button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-button {
    border: none;
    background-color: transparent;
    color: var(--light-color);
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    text-shadow: 1px 1px 3px var(--darkish-color);
    background-image: url('../images/icons/left-arrow.png');
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--light-color);
    border-radius: 50%;
    margin: .5rem;
}

.carousel-button-right {
    transform: rotate(180deg)
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-button:active {
    background-size: 90%;
}

.carousel-text {
    color: var(--light-color);
    height: 2rem;
    font-size: 1.5rem;
    margin-top: .2rem;
}

/* THUMBNAILS */

.thumbnail-container {
    position: relative;
    overflow: hidden;
    width: 90vw;
    height: 130px;
    margin-top: 2rem;
}

.thumbnail-div {
    display: flex;
    position: absolute;
    top: 0;
    transform: translateX(-180px);
    transition: transform 0.5s ease-in-out;
    flex-wrap: nowrap;
}

.thumbnail-image {
    width: 165px;
    height: 130px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* INFO DIV */

.info-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 1.5rem;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
}

.info-div > .icon-container {
    background-color: var(--light-color);
    border-radius: 50%;
    opacity: 1;
    height: 3.4rem;
    width: 3.4rem;
    padding-top: .3rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.info-div > .info-icon-pets {
    padding-top: 0;
}

.info-title {
    color: var(--darker-color);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.info-array-element {
    color: var(--darkish-color);
}
