.resource-fig {
    background-image: url('../images/desktop.jpg');
    background-position: bottom;
    margin-bottom: 0;
}

figure::after{
    opacity:0.4;
}

/* MAIN */

.resource-main {
    display: flex;
    color: var(--darkish-color);
    background-color: var(--light-color);
    width: 100%;
    background-color: var(--lightish-color);
    padding-bottom: 1rem;
}

.main-upper-div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 20rem;
}

.upper-right-image {
    position: absolute;
    top: -90px;
    left: -50px;
    transform: scale(70%);
}

.main-upper-right {
    position: absolute;
    top: 0px;
    left: 100px;
    height: 15rem;
    width: 40rem;
    margin-left: 23rem;
}

.upper-right-title {
    color: var(--dark-color);
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.upper-right-subtitle {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    font-weight: lighter;
    font-style: italic;
}

.upper-right-list {
    margin-left: 3rem;
    margin-top: .2rem;
}
.upper-right-item {
    margin-top: .3rem;
    list-style: square;
}
.main-lower-right {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 15rem;
}

.lower-right-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 30%;
    padding: 1rem;
}

.pet-icon {
    height: 3.3rem;
    width: 3.3rem;
}

.laptop-icon {
    height: 3.6rem;
    width: 3.6rem;
    top: .3rem;
}

.phone-icon {
    height: 3.7rem;
    width: 3.7rem;
}

.lower-right-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.lower-right-text {
    margin-bottom: 1.5rem;
}


@media (max-width: 750px) {
    .upper-right-image {
        transform: scale(50%);
        top: -115px;
        left: -110px;
    }
    .main-upper-right {
        left: -30px;
    }
}

@media (max-width: 600px) {
    .phone-div {
        display: none;
    }
    .upper-right-image {
        display: none;
    }
    .main-upper-right {
        left: -280px;
        text-align: center;
        margin-left: 17rem;
    }
    .main-upper-right ul {
        text-align: start;
        margin-left: 15rem;
    }
}

/* SECOND */

.resource-second {
    display: flex;
    flex-direction: column;
    color: var(--darkish-color);
    background-color: var(--light-color);
}

.second-upper-div {
    display: flex;
    padding: 2rem;
}

.second-upper-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5rem;
    /* height: 12rem; */
}

.second-upper-image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.second-upper-title {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: normal;
    color: var(--dark-color);
}

.second-image {
    height: 11rem;
    width: 11rem;
}

.second-lower-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.second-lower-div {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 26%;
    min-width: 11rem;
    padding: 1rem;
    text-align: center;
}

.second-lower-h2 {
    margin-bottom: .5rem;
    color: var(--dark-color);
}

.second-lower-item {
    text-align: start;
    width: 80%;
    margin-top: 2%;
    margin-left: 2rem;
}

.second-lower-container .btn {
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .second-upper-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second-lower-container {
        flex-direction: column;
        align-items: center;
    }
    .second-lower-div {
        width: 100%;
    }
}

/* PET POLICY */

.resource-pet-policy {
    display: flex;
    color: var(--darkish-color);
    background-color: var(--lightish-color);
    padding: 1.5rem;
}

.pet-policy-div {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.pet-policy-image {
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
}

.pet-policy-title {
    margin-bottom: 1.5rem;
}

.pet-text {
    margin-bottom: .5rem;
}

.pet-policy-div .btn {
    margin-top: 1.5rem;
    align-self: center;
}


@media (max-width: 600px) {
    .resource-pet-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pet-policy-div {
        width: 100%;
    }
}

/* UTILITIES */

.resource-utilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkish-color);
    padding-top: 1.5rem;
}

.upper-utilities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 50rem;
}

.utilities-title {
    color: var(--primary-color);
    margin-top: 1rem;
}

.utilities-text {
    margin-top: 1.5rem;
}

.utilities-link {
    color: var(--primary-color);
    font-weight: bold;
}

.lower-utilities-container {
    display: flex;
    max-width: 50rem;
    padding: 1.5rem;
    /* margin-top: 1.5rem; */
}

.lower-utilities-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 1.5rem;
    text-align: center;
}

.lower-utilities-title {
    color: var(--dark-color);
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

@media (max-width: 600px) {
    .utilities-text {
        font-size: .9rem;
    }
}

/* VIDEO IMAGE */

.video-link-container {
    display: flex;
    color: var(--darkish-color);
    background-color: var(--lightish-color);
}

.video-image {
    display: block;
    min-width: 22rem;
    width: 35vw;
}

.video-image-container {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--lightish-color);
}

.video-link-right {
    padding: 1.5rem;
    padding-left: 2.5rem;
}

.video-title {
    color: var(--dark-color);
}

.video-subtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.video-text {
    margin-top: 1.5rem;
}

.video-list {
    margin-left: 2rem;
    margin-top: 1rem;
}

.video-link-right .btn {
    margin-top: 1.5rem;
    width: 13rem;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .video-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
    }
    .video-image-container {
        border-radius: 50%;
        height: 11rem;
        width: 11rem;
        overflow: hidden;
        position: relative;
        box-shadow: none;
    }
    .video-image {
        position: absolute;
        top: -180px;
        left: -40px;
    }
}

/* BOTTOM NAV */

.resource-bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem; */
}

.bottom-container {
    display: flex;
    position: relative;
    width: 80%;
    margin-top: 1.5rem;
}

.left-bottom-div, .right-bottom-div, .middle-bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    padding: 1.5rem;
}

.bottom-title {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    line-height: 1.3;
}

.bottom-subtitle {
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.3;
}

.bottom-text {
    margin-top: 1.5rem;
}

.bottom-button {
    margin-top: 1.5rem;
    width: 13rem;
}

.bottom-icon {
    height: 2rem;
    width: 2rem;
}

.bottom-link {
    color: var(--primary-color);
    font-weight: bold;
}

.emergency-icon  {
    height:  6rem;
    width: 6rem;
    right: -17px;
    top: -5px;
}

.resource-bottom-nav .resource-icon {
    opacity: .8;
}

.scale-icon {
    left: -.2rem;
}

.last-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-bottom: 1.5rem;
}

.bottom-lower-container {
    display: flex;
}

.bottom-upper-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 1.5rem;
}

.last-container .bottom-title {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.last-container .resource-icon {
    opacity: .5;
}

.eyes-icon {
    height: 5rem;
    width: 5rem;
    top: -.3rem;
    left: -.7rem;
}

.link-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
}

@media (max-width: 600px) {
    .bottom-container,
    .bottom-lower-container {
        display: flex;
        flex-direction: column;
    }
    .left-bottom-div,
    .middle-bottom-div,
    .right-bottom-div {
        width: 100%;
    }
}

/* TROUBLE MODAL */

.trouble-modal,
.report-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    height: auto;
    width: 80vw;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visiblity 0s linear 1000ms, opacity 1000ms;
}

.overlay-visible {
    visibility: visible;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.trouble-modal .modal-name  {
    text-align: center;
    line-height: 1;
    border-bottom: none;
    margin-bottom: 0;
}

.report-modal .modal-name {
    text-align: center;
    line-height: 1;
    border-bottom: none;
    margin-bottom: 0;
}

.trouble-modal .modal-text {
    text-align: center;
    height: auto;
    margin-bottom: 1.5rem;
}

.report-modal .modal-text {
    text-align: center;
    height: auto;
    margin-bottom: 1.5rem;
}

.issue-div  {
    position: relative;
    display: flex;
    padding: .5rem;
    background-color: var(--lightish-color);
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.expand-button {
    display: flex;
    height: 1.7rem;
    width: 1.7rem;
    background-image: url(../images/icons/circle-arrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--lightish-color);
    border: none;
    opacity: 0.7;
    margin-left: 1rem;
    transform: rotate(180deg);
    transition: transform linear .5s;
}

.expanded-icon {
    transform: rotate(300deg);
    transition: transform linear .5s;
}

.modal-issue {
    color: var(--dark-color);
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: .3rem;
}

.resolution-div {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: .5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    height: 0;
    z-index: -1;
    transition: opacity ease-in 2s;
    transition: height ease-in 2s;
}

.expanded-div {
    margin-bottom: 1rem;
    height: auto;
    opacity: 1;
}

/* REPORT FORM */

.input-div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: .7rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.report-label {
    color: var(--darkish-color);
    margin-right: 1.5rem;
    width: 20vw;
    background-color: var(--light-color);
}

.report-input {
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    width: 100%;
    background-color: var(--lightish-color);
    padding-left: 1rem;
}

.report-input:-webkit-autofill,
.report-input:-webkit-autofill:hover,
.report-input:-webkit-autofill:focus,
.report-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--lightish-color) inset !important;
    box-shadow: var(--lightish-color);
    -webkit-text-fill-color: var(--dark-color) !important;
    color: var(--dark-color);
}

input[type=date]::-webkit-datetime-edit,
input[type=time]::-webkit-datetime-edit {
    color: transparent;
    color: var(--primary-color);
    opacity: .7;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: .5;
    margin-right: 10px;
}

input[type=date]:focus::-webkit-datetime-edit,
input[type=time]:focus::-webkit-datetime-edit {
    color: var(--darkish-color) !important;
    border: none;
}

.report-input::placeholder,
.report-textarea::placeholder {
    color: var(--primary-color);
    opacity: .7;
}

.report-input:focus,
.report-textarea:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}

.report-option-text {
    margin-left: .5rem;
}

.report-radio-input {
    min-height: 15px;
    min-width: 15px;
}

.report-textarea {
    width: 100%;
    border-radius: 5px;
    background-color: var(--lightish-color);
    border: none;
    resize: none;
    padding-left: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.report-submit {
    align-self: center;
}

.requirement-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    height: 3rem;
    width: 5rem;
    margin-left: 1rem;
    opacity: .5;
}

.requirement-text {
    font-size: 1rem;
    color: var(--primary-color);
}

.checkmark-div {
    position: absolute;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/icons/checkmark.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.x-mark-div {
    position: absolute;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/icons/X-mark.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .report-modal {
        padding: 10px;
    }

    .input-div {
        width: 110%;
    }
}

.criteria-container {
    display: flex;
    flex-direction: column;
}

.criteria-child {
    margin-top: 1rem;
    text-align: center;
}
