@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #599cdf;
    --secondary-color: #2983dd;
    --dark-color: #515151;
    --darkish-color: rgba(81, 81, 81, 0.7);
    --darker-color: #f1eaea;
    --light-color: rgb(250, 246, 246);
}

body {
    position: relative;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    caret-color: transparent;
    /* height: 100%; */
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h2, h3, p, ul, nav, img {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

/* OVERLAY */

.overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.4;
    visibility: hidden;
}

.overlay-text {
    visibility: hidden;
    z-index: 100;
    color: var(--light-color);
}

.gallery-item:hover .overlay {
    visibility: visible;
}

.gallery-item:hover .overlay-text {
    visibility: visible;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--light-color);
    height: 8.5rem;
    color: var(--dark-color);
}

.logo-div {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    left: .5rem;
    top: .5rem;
    font-size: 0.5rem;
    color: var(--light-color);
}

.logo-text {
    position: absolute;
    top: 2rem;
    left: 1.3rem;
}

.home-text {
    visibility: hidden;
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 10px;
    opacity: 0;
    transition: visiblity 0s linear 1000ms, opacity 1000ms;
}

.logo-text-div {
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 10rem;
}

.logo-text-top {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: var(--dark-color);
}

.logo-text-bottom {
    color: var(--darkish-color);
}

.logo {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.logo-overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.1;
    border-radius: 50%;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 29rem;
    margin-top: 4rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 3rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    padding: 13px;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.visible {
    opacity: 1;
    visibility: visible;
}

/* SMALL HEADER */

.logo-div:hover {
    cursor: pointer;
}

.logo-div:hover .logo-text {
    visibility: hidden;
}

.logo-div:hover .home-text {
    visibility: visible;
    opacity: 1;
}

.small-header {
    height: 4.5rem;
    padding: 0;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 500px) {
    .small-header .logo-text-div {
        display: none;
    }
    .small-header  {
        justify-content: right;
        padding-right: 1rem;
    }
}

/* MAIN NAV */

.main {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 1rem;
}

.main ul {
    width: 90%;
    margin-right: 2rem;
}

.main ul li {
    display: flex;
    align-items: flex-start;
    width: 20rem;
    padding: 0;
}

.image-div {
    overflow: hidden;
    height: 3.6rem;
    width: 30%;
    margin-top: 1rem;
}

.main img {
    color: var(--dark-color);
    height: 4rem;
    width: 4rem;
    opacity: 0.4;
    margin-left: 1.7rem;
}

#keys {
    position: relative;
    right: 1.7rem;
    height: 5.7rem;
    width: 5.7rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px;
    font-size: .9rem;
    width: 70%;
    height: 100%;
    color: var(--dark-color);
    text-align: center;
}

.main-text h2 {
    justify-self: start;
    padding-bottom: 10px;
}

.main-text p {
    color: var(--darkish-color);
}

.main-text a {
    color: var(--primary-color);
    font-size: 18px;
    padding-top: 10px;
}

.main-text a:hover {
    color: var(--secondary-color);
}

@media (max-width: 710px) {
    .main ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 0 20px;
    }
}

/* FOOTER */

.footer {
    background-color: var(--dark-color);
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.footer > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 7rem;
}

.social-div {
    display: flex;
    justify-content: space-around;
}

.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.footer a,
.footer p {
    width: fit-content;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    margin-left: 0.6rem;
}

.footer i {
    font-size: 2rem;
    cursor: pointer;
}

.footer a:hover,
.footer i:hover {
    color: var(--primary-color);
}

.contact-btn {
    width: 14rem;
    height: 3rem;
    font-size: 1.1rem;
}

@media (max-width: 700px) {
    .footer-location {
        display: none;
    }
}

@media (max-width: 500px) {
    .footer-connect {
        display: none;
    }
}

/* Copyright */

.copyright {
    height: 3rem;
    font-size: 0.7rem;
    color: var(--dark-color);
    text-align: center;
    padding: 1rem;
}

.copyright a {
    color: var(--primary-color);
}
