<footer class="footer">
  <nav class="footer-resources">
    <h2>RESOURCES</h2>
    <a href="/resources#maintenence">Repair Request</a>
    <a href="https://missoula.twa.rentmanager.com/Applynow" target="_blank"
      >Tenant Resources</a
    >
    <a
      href="https://missoula.owa.rentmanager.com/#/login?returnUrl=%2Fdashboard&locations=Default,hoa,talbert,weaver"
      target="_blank"
      >Owner Resources</a
    >
  </nav>

  <div class="footer-contact">
    <h2>CONTACT US</h2>
    <button class="btn contact-btn">Call Us: 406-555-1212</button>
  </div>

  <div class="footer-location">
    <h2>LOCATION</h2>
    <p>1633 Main St STE A #220</p>
    <p>Billings, MT 59105</p>
  </div>

  <div class="footer-connect">
    <h2>CONNECT</h2>
    <div class="social-div">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</footer>

<div class="copyright">
  <p class="copyright-text">
    Created by
    <a href="https://robinscavo.github.io/portfolioSite/" target="_blank">
      Robin Scavo</a
    >
    for demonstration purposes only. Original design credit: &copy;
    <a href="https://www.rentinmissoula.com/" target="_blank"
      >2021 Missoula Property Management</a
    >.<br /><a
      href="https://github.com/RobinScavo/Property-Management"
      target="_blank"
      >View Github Repo here</a
    >.
  </p>
</div>
