<header class="header">
    <div class="logo-div">
        <div class='logo'>
            <div class="logo-overlay"></div>
        </div>
        <div class="logo-text">bpm</div>
    </div>

    <div class="header-links">
        <button class="btn"><a href="/resources#resource-pet-policy">Apply Now</a></button>
        <button class="btn"><a href="/resources#maintenence">Repair Request</a></button>
        <button class="btn"><a href='/about'>About Us</a></button>
    </div>

    <div class="logo-text-div">
        <div class="logo-text-top">BILLINGS</div>
        <div class="logo-text-bottom">Property Management</div>
    </div>
</header>
