<header class="header">
    <div class="logo-div">
        <div class='logo'>
            <div class="logo-overlay"></div>
        </div>
        <div class="logo-text">bpm</div>
    </div>

    <div class="header-links">
        <button class="btn"><a href="./html/resources.html#resource-second">Apply Now</a></button>
        <button class="btn"><a href="./html/resources.html#maintenence">Repair Request</a></button>
        <button class="btn"><a href='./html/contact.html'>About Us</a></button>
    </div>

    <div class="logo-text-div">
        <div class="logo-text-top">BILLINGS</div>
        <div class="logo-text-bottom">Property Management</div>
    </div>
</header>
