<header class="header flex small-header">
  <a href="/" class="logo-div home-logo flex">
    <div class="logo home-logo">
      <div class="logo-overlay"></div>
    </div>
    <div class="logo-text">HOME</div>
  </a>
  <div class="logo-text-div">
    <div class="logo-text-top">BILLINGS</div>
    <div class="logo-text-bottom">Property Management</div>
  </div>
  <% if (!admin) { %>
  <button id="admin-login-button" class="btn">Admin Login</button>
  <% } %>
</header>
