<header class="header flex small-header">
    <% let route = '/resources' %>
    <% let buttonText = 'Apply Now' %>
    <% if (admin) { %>
        <% route = '/addListing' %>
        <% buttonText = 'New Listing' %>
    <% } %>
    <a href='/' class="logo-div home-logo flex">
        <div class='logo  home-logo'>
            <div class="logo-overlay"></div>
        </div>
        <div class="logo-text">home</div>
    </a>
    <div class="logo-text-div">
        <div class="logo-text-top">BILLINGS</div>
        <div class="logo-text-bottom">Property Management</div>
    </div>
    <button class="btn"><a href=<%= route %>><%= buttonText %></a></button>
</header>
