<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Billings Property Management" content="Built by Robin Scavo">
    <meta name="keywords" content="apartment, apartments, house, houses, rent, rental">
    <meta name="author" content="Robin Scavo">
    <meta name="description" content="Rental Property Company Website">
    <meta name="robots" content="noindex, nofollow">

    <!-- social media -->
    <meta property="og:title" content="Billings Property Management">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://flic.kr/p/2n8gjGK">
    <meta property="og:url" content="https://billings-property-management.netlify.app/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="Rental Property Company Website">
    <meta property="og:site_name" content="Billings Property Management">
    <meta name="twitter:image:alt" content="Billings Property Management homepage">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/index.css">

    <title>Billings Property Management</title>
</head>
<html lang="en">

<body class="scrollbar-hidden">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <!-- Drop-down menus -->
    <%- include('./partials/dropdown.ejs', { homePage: true, listingEdit: false, adminHome: false }) %>

    <!-- Main image -->
    <figure>
        <figcaption>Rent In Billings <br><small  id='main-small'> because the future is here</small></figcaption>
        <button class='btn'><a href="/listings">AVAILABLE RENTALS</a></button>
    </figure>

    <!-- Main navigation -->
    <nav class='main'>
        <ul class='grid'>
            <li class='flex'>
                <div class="image-div">
                    <img src="./images/icons/search.png" alt="Eye by ainul muttaqin from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>FIND A RENTAL</h2>
                    <p>Looking for a great place to live? Search our wide-variety of rental homes and apartments based on your requirements.</p>
                    <a href="./listings">Search Page</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img src="./images/icons/sign.png" alt="Signpost by Zohaib Bajwa from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>PROPERTY MAP</h2>
                    <p>Want to live in a specific neighborhood? See all our properties on one map.</p>
                    <a href="./listings#map-button">Location Map</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img id='keys' src="./images/icons/keys.png" alt="Key by Pundimon from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>TENANT PORTAL</h2>
                    <p>View your account. Update your information. Pay your rent.</p>
                    <a href="https://missoula.twa.rentmanager.com/Applynow" target='_blank'>Tenant Portal</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img src="./images/icons/signpost.png" alt="Sign by Astoe Design from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>OWNER PORTAL</h2>
                    <p>24/7/365 access to your property accounts.</p>
                    <a href="https://missoula.owa.rentmanager.com/#/login?returnUrl=%2Fdashboard&locations=Default,hoa,talbert,weaver" target='_blank'>
                        Online Owner Portal
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Image gallery -->
    <section class='image-gallery'>
        <ul class='gallery-list'>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>CLICK TO SEE OUR FEATURED PROPERTIES</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>MOVE IN READY LISTINGS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>RUSTIC MEETS LUXURY</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>SEARCH BY LOCATIONS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>TAKE A HIKE FROM YOUR BACKYARD!</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>NEW AND MODERN</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>PET FRIENDLY RENTALS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>LIVE IN THE COVETED RIMROCK AREA</h2>
            </li>
        </ul>
    </section>

    <!-- Testimonials -->
    <section class='testimonials'>
        <h1>TESTIMONIALS</h1>
        <div class="testimonials-div"></div>
    </section>

    <!-- Contact form -->
    <section class='contact-form'>
        <form name="contact-form" method="POST" data-netlify="true">
            <input type="hidden" name="form-name" value="contact-form">
            <p class="hidden">
                <label>Don't fill this out if you are human: <input name="bot-field"></label>
            </p>

            <h2 class="form-title">CONTACT US</h2>
            <h3 class="form-subtitle">Want us to call you? Send us an email.</h3>
            <div class="form-top">
                <div class="form-div">
                    <label for='form-name' class="form-text">Name</label>
                    <input type="text" class="form-name" name='form-name' required>
                </div>

                <div class="form-div">
                    <label for='form-email' class="form-text">Email</label>
                    <input type="email" class="form-email" name='form-email' required>
                </div>

                <div class="form-div">
                    <label for='form-phone' class="form-text">Phone</label>
                    <input type="tel" class="form-phone" name='form-phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
            </div>

            <div class="form-div textarea-div">
                <label for='form-text' class="form-text">Message</label>
                <textarea name='form-text'></textarea>
            </div>

            <button type="submit" class='btn form-btn'>SEND MESSAGE</button>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <!-- <script src="../js/testimonials.js"></script> -->
    <!-- <script src="../js/data.js"></script> -->
    <script src="../js/index.js"></script>
    <!-- <script type='module' src="../js/sendMessage.js"></script> -->
    <script src="../js/dropdown.js"></script>
</body>
</html>
