.editInput {
    border: 2px solid var(--faint-color);
    background-color: var(--lightish-color);
    padding: .5rem;
    width: 60vw;
    caret-color: var(--dark-color);
    text-align: center;
    cursor: pointer;
    color: var(--darker-color);
    margin-left: 1rem;
}

.editInput:focus {
    outline: 3px solid var(--faint-color);
}

.bigInput {
    margin-top: 1.5rem;
    font-size: 2.2rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    overflow: visible;
    color: var(--darker-color);
}

.bigInput::-webkit-input-placeholder,
.mediumInput::-webkit-input-placeholder {
    color: var(--darkish-color);
}

.mediumInput {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: var(--darker-color);
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    overflow: visible;
}

.editTextDiv {
    position: relative;
    text-align: center;
    /* margin-top: 1.5rem; */
}

.editOverlay {
    justify-content: center;
    background-color: rgba(81, 81, 81, 0.7);
    text-align: center;
}

.edit-main-image {
    margin-bottom: 1rem;
}

.editThumbnails {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--light-color);
    flex-wrap: wrap;
    /* height: 40px; */
    overflow: visible;
}

/* .editThumbnailContainer {
    overflow: visible;
    line-height: 2rem;
    margin-bottom: 1.5rem;
} */

.editThumbnail {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.editThumbnail:hover {
    height: 130px;
    /* border: 3px solid var(--primary-color); */
}

.smallInput {
    width: auto;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.thumbnailTextOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: rgba(81, 81, 81, 0.7);
    /* transform: translateY(20px); */
}

.thumbnail-text {
    font-size: 1rem;
    color: var(--light-color);
}

.selected-thumbnail {
    border: 6px solid var(--primary-color);
}

.add-listing-form, .thumbnailAddContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-listing-form {
    align-items: flex-end;
}

.edit-label {
    font-size: 1.6rem;
    color: var(--darker-color);
}

#add-thumbnail-button {
    align-self: center;
}

.small-add-label {
    display: flex;
    justify-content: end;
    width: 15rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
    margin-right: 90px;
}

.small-add-info {
    width: 4rem;
    height: 2rem;
    margin-left: 5px;
    margin-top: 0;
    font-size: 1.2rem;
    color: var(--dark-color)
}

.edit-textarea {
    height: 2rem;
    width: 10rem;
    font-size: 1.2rem;
    border: 2px solid var(--faint-color);
    background-color: var(--lightish-color);
    padding: .5rem;
    margin-top: .2rem;
}

.edit-textarea:focus {
    outline: 3px solid var(--faint-color);
}

.radio-label {
    display: flex;
    justify-content: end;
    width: 15rem;
    font-size: 1.2rem;
    margin-right: 120px;
}

.edit-radio {
    height: 17px;
    width: 17px;
    margin-left: 7px;
    border: 2px solid var(--faint-color);
    background-color: var(--lightish-color);
}

#edit-form-submit {
    align-self: center;
    margin-top: 20px;
}

.add-listing-image-container {
    position: relative;
    align-self: center;
    height: 350px;
    width: 580px;
    /* background-color: grey; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/* Chrome, Safari, Edge, Opera */
.rent-input::-webkit-outer-spin-button,
.rent-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.rent-input[type=number] {
  -moz-appearance: textfield;
}

.edit-listing-form {
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .info-container {
        flex-direction: column;
        align-items: center;
        /* margin-left: 60vw; */
    }
    .icon-container {
        margin-top: 10px;
    }
}
