@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html {
    font-size: calc(60% + 0.8vmin);
    /* SCALE PAGE FONT-SIZE WITH THE SIZE OF THE BROWSER WINDOW  */
    scroll-behavior: smooth;
}

* {
    /* SET ALL ELEMENTS TO THE HTML FONT-SIZE (NOT JUST TEXT) */
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    caret-color: transparent;
    line-height: 1.6rem;
    font-display: swap;
}

h1, h2, h3, p, ul, li {
    color: var(--darker-color)
}

a {
    text-decoration: none;
    color: var(--lighter-color);
}

h2, h3, p, ul, nav, img {
    margin: 0;
    padding: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}


.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
