<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Billings Property Management" content="Built by Robin Scavo">
    <meta name="keywords" content="apartment, apartments, house, houses, rent, rental">
    <meta name="author" content="Robin Scavo">
    <meta name="description" content="Rental Property Company Website">
    <meta name="robots" content="noindex, nofollow">

    <!-- social media -->
    <meta property="og:title" content="Billings Property Management">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://flic.kr/p/2n8gjGK">
    <meta property="og:url" content="https://billings-property-management.netlify.app/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="Rental Property Company Website">
    <meta property="og:site_name" content="Billings Property Management">
    <meta name="twitter:image:alt" content="Billings Property Management homepage">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/utilities.css">
    <link rel="stylesheet" href="./public/css/dropdown.css">
    <link rel="stylesheet" href="./public/css/index.css">

    <title>Billings Property Management</title>
</head>

<body class="scrollbar-hidden">
    <header class="header">
        <div class="logo-div">
            <div class='logo'>
                <div class="logo-overlay"></div>
            </div>
            <div class="logo-text">bpm</div>
        </div>

        <div class="header-links">
            <button class="btn"><a href="./html/resources.html#resource-second">Apply Now</a></button>
            <button class="btn"><a href="./html/resources.html#maintenence">Repair Request</a></button>
            <button class="btn"><a href='./html/contact.html'>About Us</a></button>
        </div>

        <div class="logo-text-div">
            <div class="logo-text-top">BILLINGS</div>
            <div class="logo-text-bottom">Property Management</div>
        </div>
    </header>

    <section  class='option-section'>
        <!-- <% let listingText, resourceText, listingPath, resourcePath, adminListings, adminDropdown %>

        <% if (homePage) { %>
            <% listingText = 'Available Rentals' %>
            <% resourceText = 'Tenant Resources' %>
            <% adminListings = 'available-container' %>
            <% adminResources = 'resource-selector' %>
        <% } else { %>
            <% listingText = 'Edit Listings' %>
            <% resourceText = 'Admin Tools' %>
            <% adminListings = 'admin-listings' %>
            <% adminResources = 'admin-resources' %>
        <% } %> -->

        <!-- Site map -->
        <div id='site-map-container' class="dropdown-container">
            <div id='site-map-selector' class="select-container">
                <h2 class='dropdown-label'>Site Map</h2>
                <div class="dropdown-icon-container">
                    <div class="dropdown-icon carousel-button"></div>
                </div>
            </div>
            <div class="option-container">
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/" class="dropdown-option">Home</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="./views/resources.ejs" class="dropdown-option">Resources</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/listings" class="dropdown-option">Listings</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/about" class="dropdown-option">About Us</a>
                </div>
            </div>
        </div>

        <!-- Listings -->
        <div class="dropdown-container">
            <div id='available-selector' class="select-container">
                <h2 class='dropdown-label'>Listings</h2>
                <div class="dropdown-icon-container">
                    <div class="dropdown-icon carousel-button"></div>
                </div>
            </div>
            <div id='available-container' class="option-container">
                <!-- <% listings.forEach((listing) => { %>
                    <div class="option-text-div">
                        <div class="option-accent-div">
                            <p>+</p>
                        </div>
                        <% let listingRoute = (adminHome) ? `/admin-edit/${listing.id}` : `/listings/${listing.id}` %>
                        <a href="<%= listingRoute %>" class="dropdown-option"><%= listing.address %></a>
                    </div>
                <% }) %> -->
            </div>
        </div>

        <!-- Resources -->
        <div class="dropdown-container">
            <div  class="select-container">
                <h2 class='dropdown-label'>Resources</h2>
                <div class="dropdown-icon-container">
                    <div class="dropdown-icon carousel-button"></div>
                </div>
            </div>
            <div id='admin-resource-container' class="option-container">
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#resource-pet-policy" class="dropdown-option">Apply Online</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#resource-pet-policy" class="dropdown-option">Pet Policy</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#resource-second" class="dropdown-option">Rental Requirements</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#utility-links" class="dropdown-option">Utility Links</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#video-link-container" class="dropdown-option">Lease Agreement Video</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#report-concern" class="dropdown-option">Report Concerns</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#maintenence" class="dropdown-option">Repair Request</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#accessibility-request" class="dropdown-option">Accessibilty Request</a>
                </div>
                <div class="option-text-div">
                    <div class="option-accent-div">
                        <p>+</p>
                    </div>
                    <a href="/resources#move-out-guide" class="dropdown-option">Moving Out Guide</a>
                </div>
            </div>
        </div>
    </section>

    <figure>
        <figcaption>Rent In Billings <br><small  id='main-small'> because the future is here</small></figcaption>
        <button class='btn'><a href="./html/propertySearch.html">AVAILABLE RENTALS</a></button>
    </figure>

    <nav class='main'>
        <ul class='grid'>
            <li class='flex'>
                <div class="image-div">
                    <img src="./public/images/icons/search.png" alt="Eye by ainul muttaqin from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>FIND A RENTAL</h2>
                    <p>Looking for a great place to live? Search our wide-variety of rental homes and apartments based on your requirements.</p>
                    <a href="./html/propertySearch.html">Search Page</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img src="./public/images/icons/sign.png" alt="Signpost by Zohaib Bajwa from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>PROPERTY MAP</h2>
                    <p>Want to live in a specific neighborhood? See all our properties on one map.</p>
                    <a href="./html/propertySearch.html#map-button">Location Map</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img id='keys' src="./public/images/icons/keys.png" alt="Key by Pundimon from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>TENANT PORTAL</h2>
                    <p>View your account. Update your information. Pay your rent.</p>
                    <a href="https://missoula.twa.rentmanager.com/Applynow" target='_blank'>Tenant Portal</a>
                </div>
            </li>

            <li class='flex'>
                <div class="image-div">
                    <img src="./public/images/icons/signpost.png" alt="Sign by Astoe Design from NounProject.com">
                </div>
                <div class="main-text">
                    <h2>OWNER PORTAL</h2>
                    <p>24/7/365 access to your property accounts.</p>
                    <a href="https://missoula.owa.rentmanager.com/#/login?returnUrl=%2Fdashboard&locations=Default,hoa,talbert,weaver" target='_blank'>
                        Online Owner Portal
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <section class='image-gallery'>
        <ul class='gallery-list'>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>CLICK TO SEE OUR FEATURED PROPERTIES</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>MOVE IN READY LISTINGS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>RUSTIC MEETS LUXURY</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>SEARCH BY LOCATIONS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>TAKE A HIKE FROM YOUR BACKYARD!</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>NEW AND MODERN</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>PET FRIENDLY RENTALS</h2>
            </li>
            <li class='gallery-item'>
                <div class="overlay"></div>
                <h2 class='overlay-text'>LIVE IN THE COVETED RIMROCK AREA</h2>
            </li>
        </ul>
    </section>

    <section class='testimonials'>
        <h1>TESTIMONIALS</h1>
        <div class="testimonials-div"></div>
    </section>

    <section class='contact-form'>
        <form name="contact-form" method="POST" data-netlify="true">
            <input type="hidden" name="form-name" value="contact-form">
            <p class="hidden">
                <label>Don't fill this out if you are human: <input name="bot-field"></label>
            </p>

            <h2 class="form-title">CONTACT US</h2>
            <h3 class="form-subtitle">Want us to call you? Send us an email.</h3>
            <div class="form-top">
                <div class="form-div">
                    <label for='form-name' class="form-text">Name</label>
                    <input type="text" class="form-name" name='form-name' required>
                </div>

                <div class="form-div">
                    <label for='form-email' class="form-text">Email</label>
                    <input type="email" class="form-email" name='form-email' required>
                </div>

                <div class="form-div">
                    <label for='form-phone' class="form-text">Phone</label>
                    <input type="tel" class="form-phone" name='form-phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
            </div>

            <div class="form-div textarea-div">
                <label for='form-text' class="form-text">Message</label>
                <textarea name='form-text'></textarea>
            </div>

            <button type="submit" class='btn form-btn'>SEND MESSAGE</button>
        </form>
    </section>

    <footer class='footer'>
        <nav class="footer-resources">
            <h2>RESOURCES</h2>
            <a href="./html/resources.html#resource-second">Apply Online</a>
            <a href="./html/resources.html">Tenant Resources</a>
            <a href="./html/resources.html">Owner Resources</a>
        </nav>

        <div class="footer-contact">
            <h2>CONTACT US</h2>
            <button class="btn contact-btn">Call Us: 406-555-1212</button>
        </div>

        <div class="footer-location">
            <h2>LOCATION</h2>
            <p>1633 Main St STE A #220</p>
            <p>Billings, MT 59105</p>
        </div>

        <div class="footer-connect">
            <h2>CONNECT</h2>
            <div class="social-div">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <p class='copyright-text'>Created by <a href="https://robinscavo.github.io/portfolioSite/" target='_blank'>
            Robin Scavo</a> for demonstration purposes only. Original design credit: &copy; <a href="https://www.rentinmissoula.com/" target='_blank'>2021 Missoula Property Management</a>.<br><a href="https://github.com/RobinScavo/Property-Management" target='_blank'>View Github Repo here</a>.
        </p>
    </div>

    <!-- <script src="./public/js/testimonials.js"></script> -->
    <!-- <script src="./js/dummyData.js"></script> -->
    <!-- <script type='module' src="./public/js/sendMessage.js"></script> -->
    <script src="./public/js/dropdown.js"></script>
    <script src="./public/js/index.js"></script>
</body>
</html>
