<section class='contact-form' id='contact-form-modal'>
    <form name="contact-form">
        <input type="hidden" name="Form Type" value="Contact">
        <p class="hidden">
            <label>Don't fill this out if you are human: <input name="bot-field"></label>
        </p>

        <h2 class="form-title">CONTACT US</h2>
        <h3 class="form-subtitle">Want us to call you? Send us an email.</h3>
        <div class="form-top">
            <div class="form-div">
                <label for='name' class="form-text">Name</label>
                <input type="text" name='name' required>
            </div>

            <div class="form-div">
                <label for='email' class="form-text">Email</label>
                <input type="email" name='email' required>
            </div>

            <div class="form-div">
                <label for='phone' class="form-text">Phone</label>
                <input type="tel" name='phone' required>
            </div>
        </div>

        <div class="form-div textarea-div">
            <label for='message' class="form-text">Message</label>
            <input type="textarea" name="message" class='form-textarea'>
        </div>

        <button id='contact-submit-button' type="submit" class='btn form-btn submit-button'>SEND MESSAGE</button>
    </form>
</section>
